// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

$body-font: "Raleway", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
