// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Font type

$body-font: "Raleway", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Font Name";
  src: font-url('FontFile.eot');
  src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
       font-url('FontFile.woff') format('woff'),
       font-url('FontFile.ttf') format('truetype')
}
$my-font: "Font Name";


// Font weight

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

// Font sizes

// @media all and (min-width: 960px) {
//   body {
//     font-size: 18px;
//   }
//   h1 {
//     font-size: 42px;
//   }
//   h2 {
//     font-size: 30px;
//   }
//   h3 {
//   font-size: 24px;
//   }
//   p {
//   line height: 1.618em;
//   }
// }

// @media all and (max-width: 959px) and (min-width: 600px) {
//   $h1-medium: 31px;
//   $h2-medium: 22px;
//   $h3-medium: 18px;
//   $p-medium: 14px;
// }

// @media all and (max-width: 599px) {
//   $h1-small: 22px;
//   $h2-small: 16px;
//   $h3-small: 14px;
//   $p-small: 10px;
// }




@media all and (min-width: 960px) {
  body{
    font-size: 18px;
   }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  body{
    font-size: 14px;
   }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  body{
    font-size: 10px;
   }
}

h1 {
  font-size: 2.222em;
}

h2 {
  font-size: 1.667em;
}

h3 {
  font-size: 1em;
  line-height: 1.333em;
}

p {
  font-size: 1em;
  line-height: 1.618em;
}
