// Specific CSS for your home-page
h1 {
  color: $gray;
  font-weight: bold;
  font-size: 70px;
}

h3 {
  color: $gray;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
}

p {
  color: $gray;
  font-weight: normal;
  font-size: 20px;
}

.home-image {
  height: 480px;
  width: 480px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 2px 1px $gray;
}

.home-image-full {
  height: 75vh;
  width: 100%;
  margin-top: 25px;
  object-fit: cover;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 2px 1px $gray;
}

.home-image:hover, .home-image-full:hover {
  -moz-transform: scale(1.01,1.01);
  -webkit-transform: scale(1.01,1.01);
  transform: scale(1.01,1.01);
}

.homepage-row {
  margin-bottom: 160px;
}

.home-navigation-circle {
  font-size: 25px;
  right: 2%;
  top: 50%;
  position: fixed;
  z-index: -5;
}

.home-navigation-circle a {
  color: $gray;
}

.home-navigation-circle a:hover {
  color: $gray;
  opacity: 0.7;
}

.home-navigation-circle ul {
  list-style-type: none;
}

// homepage banner video styling:
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  z-index: -1;
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: gray;
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
// end of homepage banner video styling

// Bullets styling

.bullets-flex {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.bullets-text {
  margin-left: 15px;
}


// ------ Mailchimp form styling ------

// Input field

input#mce-EMAIL {
    margin-top: 50px;
    width: 450px !important;
}

// Submit button
input#mc-embedded-subscribe {
  height: 50px;
  width: 450px;
}

input#mc-embedded-subscribe:hover {
  background-color: $green;
  color: white;
}


