/* -------------------------------------
 * Specific CSS for the messages index page
* ------------------------------------- */

.icon {
  font-size: 24px;
  color: $gray;
  margin-top: 15px;
  margin-left:  10px;
}

.icon:hover {
  opacity: 0.6;
}

.deadline-list {
 list-style-type: none;
 padding-left: 25x;
}

.icon-checkmark {
  font-size: 24px;
  color: $gray;
}

.messages-infobox {
  width: 260px;
  display: flex;
}

.forgetme {
    font-weight: $bold;
    margin-left: 20px;
    color: $gray;
    height: 70px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetme:hover{
  background-color: #e6e6e6;
  opacity: 0.5;
}
