.icon {
  font-size: 25px;
  color: $gray;
  margin-top: 15px;
}

.deadline-list {
 list-style-type: none;
 padding-left: 0px;
}

.icon-checkmark {
  font-size: 30px;
  color: $gray;
}

.messages-infobox {
  width: 300px;
  display: flex;
}

.forgetme {
    transition: background-color 0.2s ease;
    font-weight: 400;
    margin-left: 50px;
    background-color: $red;
    color: white !important;
    height: 70px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetme:hover{
  background-color: $red;
  opacity: 0.7;
}
