.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px $light-gray;
  border-radius: 50%;
}

.dashboard-container {
  margin-top: 100px;
}

.profile-card {
  background-color: white;
  height: 475px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px 1px $light-gray;
  img {
    width: 200px;
    height: 200px;
  }
}
