.ranking-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px rgba(230,230,230,1);
  transition: all 0.1s 0s ease-in-out;
}

.ranking-card a {
  color: rgba(54,54,54,1);
}

.ranking-card:hover {
  background-color: rgb(240,240,240);
  cursor: pointer;
}
