// Select flexcontainer

@media (max-width: 768px) {
  .select-flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .select-flexcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

// Selected companies flexform

@media (max-width: 768px) {
  .selected-flexform {
    width: 30vw;
    margin: 100px 0px 0px 0px;
    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .selected-flexform {
    width: 15vw;
    margin: 100px 0px 0px 100px;
    h1 {
      text-align: center;
    }
  }
}

// Select companies overview

@media (max-width: 768px) {
  .select-company-flexform {
    width: 80vw;
    margin: 0px 0px 100px 0px;
    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .select-company-flexform {
    width: 50vw;
    margin: 100px 0px 100px 0px;
    h1 {
      text-align: center;
    }
  }
}

// Select companies search

@media (max-width: 768px) {
  .search {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .search {
    width: 50vw;
  }
}

.btn-search {
  height: 50px;
  width: 9%;
  color: $gray;
}

.select-search {
  width: 89%;
  height: 50px;
}

.select-list {
  list-style-type: none;
  padding-left: 0px;
}

.select-list li {
  margin-bottom: 15px;
  margin-right: 5px;
  color: $gray;
}

.select-list a {
  color: $red;
}

.select-card {
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px $light-gray;
  transition: all 0.1s 0s ease-in-out;
}

.select-list a:hover {
  color: $red;
  opacity: 0.5;
  transition: all 0.1s 0s ease-in-out;
}

.product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px $light-gray;
  transition: all 0.1s 0s ease-in-out;
}

.product a {
  color: $gray;
}

.product-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
  width: 100px;
}
.product-body h3 {
  font-weight: $bold;
  font-size: $h3-large;
  margin-top: 0;
}
.product-body p {
  font-weight: $thin;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  margin-right: 20px;
  height: 50px;
  width: 90px;
  object-fit: contain;
}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  font-weight: $bold;
  font-size: $p-medium;
  line-height: 20px;
  transition: all 0.1s 0s ease-in-out;
}

.product-count {
  margin: 2px 0 0;
}

.product-arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
  transition: all 0.1s 0s ease-in-out;
}

.product-arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid black;
  border-bottom: 6px solid transparent;
  border-radius: 2px;
  margin: auto;
  transition: all 0.1s 0s ease-in-out;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: $p-medium;
  color: $light-gray;
}
.product-controls a:hover {
  color: $red !important;
  transition: all 0.1s 0s ease-in-out;
}

.product-controls-hidden a {
  color: transparent;
  font-size: $p-medium;
  border-color: transparent;
  transition: all 0.1s 0s ease-in-out;
}

/* Hover effects */
.product:hover {
  background-color: $light-gray;
  cursor: pointer;
}

.arrow-hover-up:hover {
  border-bottom-color: $green;
  transform: scale(1.15)
}

.arrow-hover-down:hover {
  border-top-color: $red;
  transform: scale(1.15)
}

.product:hover .product-controls-hidden a {
  color: $light-gray;
}

.product-upvote:hover .product-arrow {
  border-bottom: 9px solid $green;
}

#product-mail {
  margin: 0 0 0 0;
}
