/* -------------------------------------
 * Specific CSS for the send messages page
* ------------------------------------- */

.send-messages-form {
  margin-bottom: 50px;
}

.product h3 {
  font-size: 23px;
  font-weight: $bold;
}
