/* -------------------------------------
 * Specific CSS for the login/sign up page
* ------------------------------------- */

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px !important;
    height: 25px;
    width: 25px;
}

.checkbox {
  height: 50px;
  width: 100%;
}

.form {
  background:rgba($white,.9);
  font: $body-font;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($white,.3);
}

.form .tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($light-gray,.25);
    color:$gray;
    font-size: $p-large;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      opacity: 0.5;
    }
  }
  .active a {
    background:$green;
    color:$white;
  }
}

.form  .tab-content > div:last-child {
  display:none;
}


.form  .tab-content h1, h2 {
  text-align:center;
  color:$gray;
  font-weight:$thin;
  margin:0 0 40px;
}

.form label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($gray,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  .req {
    margin:2px;
    color:$green;
  }
}

.form  label.active {
  transform:translateY(50px);
  left:2px;
  .req {
    opacity:0;
  }
}

.form label.highlight {
  color:$white;
}

.form input, .form textarea {
  text-align: center;
  font-weight: $thin;
  display:block;
  // width:100%;
  height: 50px;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$gray;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
    outline:0;
    border-color:$green;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child {
      margin:0;
    }
  }
}

.form .btn {
  border:0;
  outline:none;
  border-radius:0;
  width: 100%;
  padding:15px 0;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$green;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$green;
  }
}

.form .button-block {
  display:block;
  width:100%;
}

.form .forgot {
  margin-top:-20px;
  text-align:right;
}

.form  .help-block {
  color: $red;
}
