$form-bg: #ffffff;

$form-font: "Raleway", "Helvetica", "sans-serif";

$white: #ffffff;
$main: rgba(58,193,98,0.7);
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #454545;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.form {
  background:rgba($form-bg,.9);
  font: $form-font;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.form .tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.form  .tab-content > div:last-child {
  display:none;
}


.form  .tab-content h1, h2 {
  text-align:center;
  color:$gray;
  font-weight:$thin;
  margin:0 0 40px;
}

.form label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($gray,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
    margin:2px;
    color:$main;
  }
}

.form  label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

.form label.highlight {
  color:$white;
}

.form input, .form textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$gray;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
    outline:0;
    border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child {
      margin:0;
    }
  }
}

.form .btn {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.form .button-block {
  display:block;
  width:100%;
}

.form .forgot {
  margin-top:-20px;
  text-align:right;
}

.form  .help-block {
  color: $gray;
  font-size: 16px;
}
