<div class="container">
  <div class="row full-height div-margin-top">
    <div class="col-sm-2">
      <div>
     </div>
   </div>
    <div class="col-sm-10 edit-container">
      <div class="flexdashboard ">
        <%= render 'devise/registrations/edit', resource_name: "user", resource: current_user %>
      </div>
    </div>
 </div>
</div>
