<div class="banner-container">
  <div class="banner-image" style="background-image: url( <%= image_url 'man-bike.png' %>">
  </div>
  <div class="banner-content">
    <div id="banner-title">

      <h1>What does
        <br class="hidden-md hidden-lg">

        <!-- Typed business name animation. Change names in banner.js -->
        <span id="banner-typed-text"></span>
        <br>
        know about you?
      </h1>

      <h3><strong>GetMyData</strong> helps you find out</h3>
      <a id="button-banner-small">
        <%= link_to how_does_it_work_path, :class => "btn btn-homepage" do %>
        Get your data
        <% end %>
      </a>
    </div>
  </div>

</div>










