<div class="banner-container">
  <div class="banner-content">
    <div>
      <div id="banner-title">
        <h1>What does
          <span id="banner-typed-text"></span>
          <br>know about you?
        </h1>
        <h3>GetMyData helps you find out</h3>
      </div>
<!--       <%= link_to select_path, :class => "btn btn-homepage" do %>
        Get your data
      <% end %> -->
    </div>
  </div>
  <div class="banner-image" style="background-image: url( <%= image_url 'skyscraper.jpeg' %>">

  </div>
</div>
