<div class="banner-container">
  <div class="banner-content">
    <div id="banner-title">

      <!-- !!! Animation currently not working > commented out !!! -->
<!--       <h1>What do companies
        <br class="hidden-md hidden-lg">
        <span id="banner-typed-text"></span>
        <br>
        know about you?
      </h1> -->
      <!-- !!! END - Animation currently not working > commented out !!! -->

      <!-- !!! Current replacement of the animation !!! -->
      <h1 class="text-center">What do companies know about you?</h1>
      <!-- !!! END - Current replacement of the animation !!! -->

      <h3><strong>GetMyData</strong> helps you find out</h3>
      <div id="button-banner-small">
        <%= link_to select_path, :class => "btn btn-homepage" do %>
        Get your data
        <% end %>
      </div>
    </div>
  </div>
  <div class="banner-image" style="background-image: url( <%= image_url 'man-bike.png' %>">
  </div>
</div>
