<!-- Info alert with green background -->
<% if notice %>
  <div class="alert alert-info" role="alert" id="notice-wrapper">
    <%= notice %>
  </div>
<% end %>
<!-- Warning alert with red background -->
<% if alert %>
  <div class="alert alert-warning" role="alert" id="notice-wrapper">
    <%= alert %>
  </div>
<% end %>
