<footer class="footer-distributed">

  <div class="footer-right">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/getmydata/"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/pimmesz/getmydata"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="./">Home</a>
      ·
      <a href="/about">About</a>
      ·
      <a href="/contact">Contact</a>
    </p>

    <p>GetMyData &copy; 2018</p>
  </div>

</footer>
<!-- * Complex footer design * -->

<!-- <div class="footer">
  <div class="center">
    <ul>
      <li><a href="#"><p class="bold">Start</p></a></li>
      <li><a href="#"><p>Overview</p></a></li>
      <li><a href="#"><p>Companies</p></a></li>
      <li><a href="#"><p>Messages</p></a></li>
      <li><a href="#"><p>Profile</p></a></li>
    </ul>
  </div>

  <div class="center">
    <ul>
      <li><a href="#"><p class="bold">Recources</p></a></li>
      <li><a href="#"><p>How it works</p></a></li>
      <li><a href="#"><p>Blog</p></a></li>
      <li><a href="#"><p>Newsletter</p></a></li>
      <li><a href="#"><p>Help</p></a></li>
    </ul>
  </div>
  <div class="center">
    <ul>
      <li><a href="#"><p class="bold">GetMyData</p></a></li>
      <li><a href="#"><p>About</p></a></li>
      <li><a href="#"><p>Jobs</p></a></li>
      <li><a href="#"><p>Partners</p></a></li>
      <li><a href="#"><p>Contact</p></a></li>
    </ul>
  </div>
  <div class="center">
    <ul>
      <li><a href="#"><p class="bold">Social</p></a></li>
      <li><a href="#"><p>Github</p></a></li>
      <li><a href="#"><p>Facebook</p></a></li>
      <li><a href="#"><p>Twitter</p></a></li>
      <li><a href="#"><p>LinkedIn</p></a></li>
    </ul>
  </div>
  <div class="center">
    <ul>
      <li><a href="#"><p class="bold">Legal</p></a></li>
      <li><a href="#"><p>Terms & Conditions</p></a></li>
      <li><a href="#"><p>Privacy statement</p></a></li>
      <li><a href="#"><p>Responsible disclosure</p></a></li>
      <li><p><br></p></li>
    </ul>
  </div>
</div>
 -->
