<footer class="footer-distributed" id="footer">

  <div class="footer-right">

    <!-- <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a> -->
    <a href="https://www.linkedin.com/company/getmydata/" target="blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/getmydata/getmydata" target="blank"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p>
      <a href="./">Home</a>
      路
      <a href="/about">About</a>
      路
      <a href="/contacts/new">Contact</a>
      路
      <a href="/terms-of-service">Terms of Service</a>
      路
      <a href="/privacy-policy">Privacy Policy</a>

    </p>

    <p>GetMyData &copy; 2018</p>
  </div>

</footer>
