<div class="footer">
  <div class="center">
    <ul>
      <li><a href="#"><p class="bold">Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
    </ul>
  </div>

  <div class="center">
    <ul>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
    </ul>
  </div>
  <div class="center">
    <ul>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
    </ul>
  </div>
  <div class="center">
    <ul>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
    </ul>
  </div>
  <div class="center">
    <ul>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
      <li><a href="#"><p>Test</p></a></li>
    </ul>
  </div>
</div>
