  <div class="flexcontainer full-height space-around">
    <div class="flexform div-margin-top">

  <h1>About GetMyData</h1>
  <p>The founders of <strong>GetMyData</strong> noticed from personal experience how difficult it is to get access to their personal data. They created a platform that gives users the possibility to:</p>
  <br>
  <div class="bullets-flex">
    <div><i class="fa fa-circle bullets-icon"></i></div><div class="bullets-text"><p>Increase their knowledge about their rights regarding their personal data</p></div>
  </div>
  <div class="bullets-flex">
    <div><i class="fa fa-circle bullets-icon"></i></div><div class="bullets-text"><p>Share their personal experiences with other users</p></div>
  </div>
  <div class="bullets-flex">
    <div><i class="fa fa-circle bullets-icon"></i></div><div class="bullets-text"><p>Exercise their rights in an easy way</p></div>
  </div>
  <br>
  <p>GetMyData is independent and not for profit. All our code is open-source.</p>
</div>
</div>

<div class="flexcontainer div-margin-top">
</div>
