<div class="flexcontainer">
  <div class="flexform div-margin-top">
    <h1>About GetMyData</h1>
    <p>The founders of <strong>GetMyData</strong> noticed from personal experience how difficult it is to get access to their personal data. They created a platform that gives users the possibility to:</p>
    <div class="bullets-flex">
      <div><i class="fa fa-circle bullets-icon"></i></div><div class="bullets-text"><p>Increase their knowledge about their rights regarding their personal data</p></div>
    </div>
    <div class="bullets-flex">
      <div><i class="fa fa-circle bullets-icon"></i></div><div class="bullets-text"><p>Share their personal experiences with other users</p></div>
    </div>
    <div class="bullets-flex">
      <div><i class="fa fa-circle bullets-icon"></i></div><div class="bullets-text"><p>Exercise their rights in an easy way</p></div>
    </div>
    <p>GetMyData is independent and not for profit. All our code is open-source.</p>
  </div>
</div>

<div class="flexcontainer">
  <div class="flexform">
    <h1>Team</h1>
  </div>
</div>

<div class="about-container">
  <div class="about-img">
    <a href="https://www.linkedin.com/in/ricktemolder/" target="blank">
      <img src="/assets/rick.png" alt="Photo Rick Te Molder" class="avatar-bordered transform shadow"/>
    </a>
    <p class="center-p"><strong>Rick te Molder</strong>
      <br>
      <a href="https://github.com/Rick-te-Molder" class="icon-block" target="blank"><i class="fa fa-github icon"></i></a>
      <a href="https://www.linkedin.com/in/ricktemolder/" class="icon-block" target="blank"><i class="fa fa-linkedin icon"></i></a>
    </p>
  </div>
  <div class="about-img">
    <a href="https://www.linkedin.com/in/pimzonneveld/" target="blank">
      <img src="/assets/pim.jpg" alt="Photo Pim Zonneveld" class="avatar-bordered transform shadow"/>
    </a>
    <p class="center-p"><strong>Pim Zonneveld</strong>
      <br>
      <a href="https://github.com/pimmesz" class="icon-block" target="blank"><i class="fa fa-github icon"></i></a>
      <a href="https://www.linkedin.com/in/pimzonneveld/" class="icon-block" target="blank"><i class="fa fa-linkedin icon"></i></a>
    </p>
  </div>
  <div class="about-img">
    <a href="https://www.linkedin.com/in/aly-dabbous-76445592/" target="blank">
      <img src="/assets/aly.jpg" alt="Photo Aly Dabbous" class="avatar-bordered transform shadow"/>
    </a>
    <p class="center-p"><strong>Aly Dabbous</strong>
    <br>
      <a href="https://github.com/Dabbous1" class="icon-block" target="blank"><i class="fa fa-github icon"></i></a>
      <a href="https://www.linkedin.com/in/aly-dabbous-76445592/" class="icon-block" target="blank"><i class="fa fa-linkedin icon"></i></a>
    </p>
    </p>
  </div>
  <div class="about-img">
    <a href="https://www.linkedin.com/in/stefano-degenkamp/" target="blank">
      <img src="/assets/stefano.png" alt="Photo Stefano Degenkamp" class="avatar-bordered transform shadow"/>
    </a>
    <p class="center-p"><strong>Stefano Degenkamp</strong>
    <br>
      <a href="https://github.com/Stefanode" class="icon-block" target="blank"><i class="fa fa-github icon"></i></a>
      <a href="https://www.linkedin.com/in/stefano-degenkamp/" class="icon-block" target="blank"><i class="fa fa-linkedin icon"></i></a>
    </p>
    </p>
  </div>
</div>
