<div class="container">
  <div class="full-height div-margin-top">
    <h2>About GetMyData</h2>
    <p>GetMyData is a Dutch citizen initiative. The founders noticed from personal experience how difficult is was to get access to the personal data that companies stored. They created a platform that gives users the possibility to:
      <ul>
        <li>Increase their knowledge about their rights regarding their personal data</li>
        <li>Share their personal experiences with other users</li>
        <li>Exercise their rights in an easy way</li>
      </ul>
    </p>
    <p>GetMyData is independent and not for profit. All our code is open-source. GetMyData is endorsed by several organizations in the field of privacy, cyber security and personal data management.</p>
    <br>
    <h2>The Team</h2>
    <br>
    <div class="container">
      <div class="center">
        <div>
          <a href="https://www.linkedin.com/in/ricktemolder/" target="blank">
            <img src="/assets/rick.png" alt="Photo Rick Te Molder" class="avatar-bordered transform"/>
          </a>
          <p class="center-p">Rick te Molder</p>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/pimzonneveld/" target="blank">
            <img src="/assets/pim.jpg" alt="Photo Pim Zonneveld" class="avatar-bordered transform"/>
          </a>
          <p class="center-p">Pim Zonneveld</p>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/aly-dabbous-76445592/" target="blank">
            <img src="/assets/aly.jpg" alt="Photo Aly Dabbous" class="avatar-bordered transform"/>
          </a>
          <p class="center-p">Aly Dabbous</p>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/stefano-degenkamp/" target="blank">
            <img src="/assets/stefano.png" alt="Photo Stefano Degenkamp" class="avatar-bordered transform"/>
          </a>
          <p class="center-p">Stefano Degenkamp</p>
        </div>
      </div>

    </div>
  </div>
</div>
