<div class="flexcontainer column">
  <div class="flexform">
    <h1 class="text-center">What do organizations know about me?</h1>
    <h3 class="text-center">We help you find out!</p>
    </div>
    <%= link_to select_path, :class => "homepage-request-button" do %>
    Start
    <% end %>
  </div>
</div>
