<div class="flexcontainer space-around">
  <div class="div-margin-top div-margin-bottom">


    <div class="progress">

      <div class="progress-bar-div">
        <div class="circle" id="circle-select">
          <span class="label">1</span>
          <span class="title">Select</span>
        </div>
        <span class="bar half"></span>
        <div class="circle" id="circle-check">
          <span class="label">2</span>
          <span class="title">Check</span>
        </div>
        <span class="bar"></span>
        <div class="circle" id="circle-send">
          <span class="label">3</span>
          <span class="title">Send</span>
        </div>
        <span class="bar"></span>
        <div class="circle" id="circle-finish">
          <span class="label">4</span>
          <span class="title">Finish</span>
        </div>
      </div>
      <div class="how-it-works-content">
        <h3>How does it work?</h3>
        <p>Click next to find out!</p>
      </div>
      <div class="how-it-works-btn">
        <a href='#'><div class='progress-bar-btn' id='progress-step-forward'><h3>Next</h3></div></a>
      </div>
    </div>

  </div>
</div>
