  <div class="flexcontainer full-height space-around">
    <div class="flexform div-margin-top div-margin-bottom">

      <h1 class="text-center">Hello</h1>
      <h3 class="text-center">Thank you for your message</h3>
    </div>
  </div>
