<li class="select-card">
  <%= cl_image_tag selection.company.avatar, :class => "product-image" %>
  <%= link_to destroy_user_selections_path(selection.id), :method => :delete do %>
  <i class="fa fa-times-circle"></i>
  <% end %>
</li>

