<li class="select-card" data-company-id="<%= selection.company.id %>">
  <%= cl_image_tag selection.company.avatar, :class => "product-image" %>
  <%= link_to destroy_user_selections_path(selection.id), remote: true, method: :delete do %>
    <i class="fa fa-times-circle"></i>
  <% end %>
</li>

