function refreshList(innerHTML) {
  const newSelectList = document.getElementById('select-btn');
  newSelectList.innerHTML = innerHTML;
}

function addSelect(selectHTML) {
  const user_selection = document.querySelector('.select-list');
  user_selection.insertAdjacentHTML('beforeend', selectHTML);
}
// addSelect(`<%= @user_selection.company.name %>`)

const selectedCompany = `<li><%= @user_selection.company.name.sub(/^./, &:upcase) %>
<%= link_to destroy_user_selections_path(@user_selection.id), :method => :delete do %>
<i class="fa fa-times-circle"></i>
<% end %>
</li>`

addSelect(selectedCompany)
console.log(selectedCompany)
