/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  margin-top: 70px;
  text-align: center;
  color: white;
  position: fixed;
  width: 100vw;

  z-index: 100;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
