.banner-container {
  height: 100vh;
  display: flex;
}
.banner-content {
  width: 50%;
}
.banner-image {
  width: 50%;
  height: 100vh;
  background-size: cover;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}
#banner-title {
  padding-top: 230px;
  padding-left: 70px;
  h1 {
    font-size: 60px;
    line-height: 65px;
  }
  h3 {
    font-size: 30px;
    line-height: 60px;
  }
}
