  .banner-container {
    display: flex;
    height: 100vh;
  }
  .banner-content {
    width: 50%;
  }
  .banner-image {
    width: 50%;
    height: 100vh;
    background-size: cover;
    box-shadow: 2px 2px 2px 1px $light-gray;
  }
  #banner-title {
    width: 100%;
    padding-top: 160px;
    padding-left: 70px;
    h1 {
      font-size: $h1-large;
      font-weight: $bold;
      line-height: 55px;
    }
    h3 {
      font-size: $h3-large;
      line-height: 50px;
    }
  }

@media (max-width: 768px) {
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
  }
  .banner-image {
    width: 100vw;
    min-height: 300px;
    max-height: 50vh;
  }

  #banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding: 0px;
    align-items: center;
    h1 {
      font-size: $h1-medium;
      line-height: 45px;
    }
    h3 {
      font-size: $h3-medium;
      line-height: 45px;
    }
  }
}
