/* -------------------------------------
 * CSS for banner on homepage
* ------------------------------------- */

.banner-container {
  display: flex;
  flex-direction:row-reverse;
    // height: 100vh;
  }

  .banner-content {
    width: 50%;
  }

  .banner-image {
    width: 50%;
    height: 100vh;
    background-size: cover;
    // box-shadow: 2px 2px 2px 1px $light-gray;
  }

  #banner-title {
    width: 100%;
    padding-top: 160px;
    padding-left: 70px;
    h1 {
      // font-size: $h1-large;
      font-weight: $bold;
      line-height: 55px;
      width: 80%;
    }
    h3 {
      // font-size: $h3-large;
      line-height: 50px;
    }
  }

  @media (max-width: 768px) {
    .banner-container {
      // flex-direction: column;
      // margin: auto;
    }
     #banner-title {
      // margin: auto;
      padding-left: 0;

      // display: flex;
      // flex-direction: column;
      // text-align: center;

      // justify-content: center;
      // padding-top: 30px;
      // padding: 0px;
      // align-items: center;
      h1 {
        // font-size: $h1-medium;
        line-height: 45px;
        margin: auto;
        background-color: white;

        text-align: center;


      }
      h3 {
        // font-size: $h3-large;
        line-height: 45px;
        background-color: white;
        text-align: center;
        // margin: auto;
      }
      a{
        // margin: 0;
        text-align: center;
        margin:auto;
      }

    }
    .banner-image {
      // display: flex;
      position: absolute;
      width: 100vw;
      min-height: 300px;
      max-height: 100vh;
    }
    .banner-content {
      width: 100%;
      position: relative;

      // align-items: center;


    }



  }

  ///////////////almu














