// Default a behaviour fix

a:hover, a:focus {
  color: white;
  text-decoration: none;
}

// Profile button

.profile-divbutton {
  margin-top: 70px;
  position:absolute;
  top:0;
  right:0;
  text-align: center;
}

.profile-databutton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(32,75,147,1);
  height: 65px;
  width: 200px;
  margin-top: 10px;
}

.profile-databutton:hover {
  background-color: rgba(32,75,147,0.8);
  color: white;
  text-decoration: none;
}

// Homepage button

.homepage-request-button {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(32,75,147,1);
  height: 100px;
  width: 300px;
  margin-top: 20px;
}

.homepage-request-button:hover {
  background-color: rgba(32,75,147,0.8);
}

// Wizzard buton

.wizzard-button a, .wizzard-button a:hover {
  color: white;
  text-decoration: none;
}

.wizzard-button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(32,75,147,1);
  background-color: rgba(255,255,255,1);
  height: 50px;
  width: 200px;
  margin-bottom: 25px;
}

.wizzard-button-add:hover {
  color: rgba(32,75,147,1);
  background-color: rgba(255,255,255,0.6);
}

.wizzard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(32,75,147,1);
  height: 50px;
  width: 200px;
}

.wizzard-button:hover {
  background-color: rgba(32,75,147,0.8);
}

.btn-right {
  right: 0;
  position: fixed;
  bottom: 0;
}

.btn-left {
  left: 0;
  position: fixed;
  bottom: 0;
}

.btn-left-absolut {
  left: 0;
  position: absolute;
  bottom: -310px;
}

.btn-right-absolut {
  right: 0;
  position: absolute;
  bottom: -310px;
}
