.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  margin-top: 10px;
  border-radius: 3px;
  padding: 14px 24px;
  font-weight: $bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px $light-gray;
  background-color: white;
  color: $gray;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-default {
  width: 200px;
  background-color: white;
  color: $gray;
}

.btn-primary {
  width: 200px;
  background-color: $green;
  opacity: 0.7;
  color: white;
}

.btn-homepage {
  align-self: left;
  height: 57px;
  background-color: $green;
  opacity: 0.7;
  color: white;
  font-size: $h3-medium;
  margin-top: 40px;
  padding: 1em 3em;
  margin-top: 75px;
}

@media (min-width: 768px) {
  .btn-homepage {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .btn-homepage {
    width: 40vw;
  }
}

.btn:hover, .btn-default:hover, .btn-homepage:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
  color: white;
  background-color: $green;
  opacity: 1;
  transition: all 0.1s 0s ease-in-out;
  text-decoration: none;
}

.btn:active, .btn.active {
  background: $green;
  box-shadow: none;
}

// Default a behaviour fix

a:hover, a:focus {
  color: white;
  text-decoration: none;
  transition: all 0.1s 0s ease-in-out;
}
.profile-divbutton {
  margin-top: 70px;
  position:absolute;
  top:0;
  right:0;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $light-gray;
}
.btn a, .btn a:hover {
  color: white;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $light-gray;
}
.btn-right {
  right: 0;
  position: fixed;
  bottom: 0;
  width: 200px;
  background-color: $green;
  opacity: 0.7;
  color: white;
}
.btn-left {
  left: 0;
  position: fixed;
  bottom: 0;
  width: 200px;
}
.float-parent {
  position: relative;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $light-gray;
}
