.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexform {
  width: 50vw;
}

.column {
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 250px;
}

@media (max-width: 768px) {
  .spaceshipcards {
    height: 100%;
  }
}

.flex-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (max-width: 768px) {
  .flex-card {
    justify-content: center;
  }
}

.card-dashboard{
width: 80vw !important;
height: 300px !important;
color: black !important;
background-color: white;
}

.card-dashboard h3{
color: white;
}

.card-dashboard a{
  text-decoration: none;
}

.card-dashboard:hover {
text-decoration: none !important;
}

.card, .card-dashboard {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 350px;
  border-radius: 1px;
  color: transparent;
  font-size: 14px;
  text-shadow: 1 1 0px rgba(0,0,0,0.7);
  text-align: center;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .card {
    margin-right: 0;
  }
}

.card h4 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

// .card img {
//   width: 100px;
//   height: 100px;
//   crop: fill;
// }

.card:hover {
  color: white;
  -moz-transform: scale(1.05,1.05);
  -webkit-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(248, 247, 216, 0.0);
  color: rgba(32,75,147,0.0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 300ms ease-in;
  -ms-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.overlay:hover {
  color: white;
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: color 300ms ease-in;
  -ms-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.flexdashboard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flexdashboarditems {
  background: white;
  height: 300px;
  width: 400px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  background-size:  cover;
}

.flexdashboarditems-autoheight {
  background: white;
  height: auto;
  width: 400px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  background-size:  cover;
}

.flexdashboarditems img {
  height: 300px;
  width: 1000px !important;
}

@media (max-width: 768px) {
  .showimage  {
    max-width: 100%;
    height: auto;
  }
}
