/* -------------------------------------
 * CSS for countdown banner on every page
* ------------------------------------- */

.countdown-banner {
  height: 35px;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $gray;
  color: $white;
  opacity: 0.9;

  position: fixed;
  text-align: center;

  z-index: 500;
}

.no-padding {
  margin-top: 17.5px;
  li {
    padding: 0px;
  }
}
