/* -------------------------------------
 * CSS for flexbox used on multiple pages
* ------------------------------------- */

.flexcontainer {
  display: flex;
  justify-content: space-around;
}

.row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .mobile-direction-column {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .mobile-column-reverse {
    flex-direction: column;
  }
}

// Flexform with media query > general layout of most pages

@media (max-width: 768px) {
  .flexform {
    width: 80vw;
    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .flexform {
    width: 50vw;
    h1 {
      text-align: center;
    }
  }
}

.column {
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 250px;
}

@media (max-width: 768px) {
  .showimage  {
    max-width: 100%;
    height: auto;
  }
}
