p {
  color: #7c7c7c !important;
}

ul {
  list-style-type: none;
}

.footer {
  background-color: #262525;
  height: 320px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;
}
