/* -------------------------------------
 * CSS for footer
* ------------------------------------- */

.footer-distributed {
  background-color: rgb(45,45,45);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 98.6vw;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 30px 50px;
  margin-top: 10px;
}

.footer-left p{
  color:  $light-gray;
  // font-size: $p-large;
  font-weight: $normal;
  a{
    display:inline-block;
    color: inherit;
  }
  a:hover {
    opacity: 0.5;
  }
}

/* Footer links */

.footer-right{
  float: right;
  max-width: 180px;
  a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgba(54, 54, 54, 1);
    border-radius: 2px;

    // font-size: $p-large;
    color: $light-gray;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
  }
  a:hover {
    opacity: 0.5;
  }
}
