/* Main navbar */
.navbar-wagon-home {
  transition: all 0.1s ease-in-out;
  height: 70px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

.navbar-wagon-home a:hover {
  color: white;
  opacity: 1;
}

.solid {
  box-shadow: 0 1px 5px 0 $light-gray,0 1px 0 0 $light-gray;
  background: white;
}

.solid a {
  color: $gray;
}

.solid a:hover {
  color: $gray;
  opacity: 1;
}

// background of menu on homepage

.navbar-wagon-home .menu-link-center {
  font-weight: 400;
  margin-left: 5px;
  background-color: white;
  opacity: 1;
  color: $gray;
  height: 55px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}

.navbar-wagon-home.solid .menu-link-center {
  transition: background-color 0.2s ease;
  font-weight: 400;
  margin-left: 5px;
  background-color: white;
  color: $gray;
  height: 70px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.menu-link-center-login {
  transition: background-color 0.1s ease-in-out;
  font-weight: 400;
  margin-left: 5px;
  background-color: $gray;
  color: white;
  height: 70px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.menu-link-center-login:hover {
  opacity: 0.5;
}

.navbar-wagon-home .menu-link-center-login {
  font-weight: 400;
  margin-left: 5px;
  background-color: $gray;
  color: white;
  height: 55px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}

.navbar-wagon-home.solid .menu-link-center-login {
  transition: background-color 0.2s ease;
  font-weight: 400;
  margin-left: 5px;
  background-color: $gray;
  color: white;
  height: 70px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.menu-link-center {
  transition: background-color 0.1s ease-in-out;
  font-weight: 400;
  margin-left: 5px;
  background-color: white;
  color: $gray;
  height: 70px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}


.navbar-wagon-home.solid .menu-link-center:hover, .menu-link-center:hover {
  background-color: $green;
  color: white;
}

.navbar-wagon {
  transition: all 0.1s ease-in-out;
  height: 70px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  box-shadow: 0 1px 5px 0 $light-gray,0 1px 0 0 $light-gray;
  background: white;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  margin-left: 40px;
  margin-top: 10px;
}

/* User Avatar */
.navbar-wagon .avatar, .navbar-wagon-home .avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar link */
.navbar-wagon-link {
  cursor: pointer;
  color: $gray;
  font-size: 14px;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $light-gray;
  border-color: $light-gray;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.1s ease-in-out;
  font-weight: lighter !important;
  color: $gray !important;
  opacity: 0.8 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $gray !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}

.navbar-wagon-right.hidden-xs.hidden-sm {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
