/* Main navbar */
.navbar-wagon-home {
  transition: all 0.3s ease;
  height: 70px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

.navbar-wagon-home a {
  color: rgba(255,255,255,1);
}

.navbar-wagon-home a:hover {
  color: rgba(255,255,255,0.7);
}

.solid {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
}

.solid a {
  color: rgba(54,54,54,1);
}

.solid a:hover {
  color: rgba(54,54,54,0.7);
}

// background of menu neutral

.solid .navbar-wagon-right {
  background-color: white;
}

// background of menu on homepage

.navbar-wagon-right {
  background-color: rgba(45,45,45,0.7);
  border-radius: 25px;
}



.navbar-wagon {
  transition: all 0.1s ease-in-out;
  height: 70px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(255,255,255,1);
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar, .navbar-wagon-home .avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: -22.5px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  color: rgba(54,54,54,1) ;
}

/* Navbar link */
.navbar-wagon-link {
  // color: rgba(255,255,255,1);
  color: rgba(42,42,42,1) ;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: rgba(54,54,54,0.7);
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.1s ease-in-out;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: rgba(54,54,54,1) !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: rgba(255,255,255,1);
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
