/* -------------------------------------
 * CSS for the main navbar and all
 * navbar changes when scrolling
 * down on the homepage
* ------------------------------------- */

// Main navbar
.navbar-wagon {
  margin-top: 35px;

  transition: all 0.2s ease-in-out;
  height: 70px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  box-shadow: 0 1px 5px 0 $light-gray,0 1px 0 0 $light-gray;
  background: $white;
  img {
    height: 50px;
    margin-top: 10px;
  }
}

// Menu on homepage

.navbar-wagon-home {
  margin-top: 35px;

  transition: all 0.2s ease-in-out;
  height: 70px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  img {
    height: 50px;
    margin-top: 10px;
  }
}

.solid {
  box-shadow: 0 1px 5px 0 $light-gray,0 1px 0 0 $light-gray;
  background: $white;
}

.menu-link-center {
  transition: all 0.2s ease-in-out;
  font-weight: $normal;
  margin-left: 5px;
  background-color: $white;
  color: $gray;
  height: 70px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu-link-center-login:hover {
  opacity: 0.8;
}

.navbar-wagon-home .menu-link-center {
  height: 55px;
  width: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}

.navbar-wagon-home.solid .menu-link-center {
  transition: all 0.2s ease-in-out;
  font-weight: $normal;
  margin-left: 5px;
  background-color: $white;
  color: $gray;
  height: 70px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .2);
}

.menu-link-center-login {
  transition: all 0.2s ease-in-out;
  font-weight: $normal;
  margin-left: 5px;
  background-color: $gray;
  color: $white;
  height: 70px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar-wagon-home .menu-link-center-login {
  font-weight: $normal;
  margin-left: 5px;
  background-color: $gray;
  color: $white;
  height: 55px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar-wagon-home.solid .menu-link-center-login {
  transition: all 0.2s ease-in-out;
  font-weight: $normal;
  margin-left: 5px;
  background-color: $gray;
  color: $white;
  height: 70px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar-wagon-home.solid .menu-link-center:hover, .menu-link-center:hover {
  background-color: $light-gray;
  color: $gray;
  opacity: 1;
}

// User Avatar

.navbar-wagon .avatar, .navbar-wagon-home .avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: auto auto auto 30px;
  cursor: pointer;
}

// Right section

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Dropdown menu

.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $light-gray;
  border-color: $light-gray;
  li > a {
    transition: all 0.2s ease-in-out;
    font-weight: $thin;
    color: $gray;
    opacity: 0.8;
    font-size: $p-large;
    line-height: 22px;
    padding: 10px 20px;
  }
  li > a:hover {
    background-color: $light-gray;
  }
}

.navbar-wagon-home.solid .navbar-wagon-dropdown-menu {
  color: red;
}
