<div class="flexcontainer">
<div class="flexform">

<h1>Edit Review</h1>
<%= simple_form_for [@company, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :like %>
  <%= f.button :submit, "Add Review" %>
<% end %>

</div>
</div>
